---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE } from '../config';
---

<Layout title={SITE_TITLE}>
  <main>
    <h1 class="font-rubik font-normal text-black">Hello I am Cesar Mayora</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
  }
</style>
