---
import Socials from "./Socials.astro";
---

<header
  class="mast-head relative h-[70vh] w-full bg-orange-100 bg-transparent pt-6 font-rubik shadow-inner duration-500"
>
  <!-- Masthead video -->
  <video
    class="absolute left-1/2 top-0 h-[90%] w-full min-w-full -translate-x-1/2 object-cover opacity-20"
    autoplay
    loop
    muted
    playsinline
  >
    <source src="/masthead.mp4" type="video/mp4" />
     Your browser does not support the video tag.
  </video>

  <div
    class="relative flex h-full w-full flex-col items-center justify-center gap-9"
  >
    <!-- Avatar? -->

    <!-- Name occupation -->
    <h1 class="text-6xl font-medium">Cesar Mayora</h1>
    <h2 class="text-xl font-normal text-purple-700 dark:text-purple-500">
      Software Engineer
    </h2>

    <!-- Socials -->
    <Socials />
  </div>
</header>
