---
import { HOMEPAGE_URL, SITE_SOURCE_URL } from '../config';
import NavLink from './NavLink';
import ThemeToggler from './ThemeToggler';
import LangSelector from './LangSelector';
import MenuIcon from './MenuIcon';
import { IoLogoOctocat } from 'react-icons/io5';

const LINKS = ['About', 'Projects', 'Skills', 'Contact', 'Source'];
---

<nav
  class="nav-container align-items fixed m-auto flex w-full justify-around gap-32 p-2 font-rubik shadow-md shadow-sky-500/50 backdrop-blur-md md:justify-center"
>
  <div class="nav-links items-center justify-between gap-10 md:flex">
    <div class="nav-title items-center">
      <a href={HOMEPAGE_URL} class="outline-none">
        <span class="text-3xl font-thin">
          cmayora<i class="text-blue-500">.dev</i>
        </span>
      </a>
    </div>
    <div class="nav-sections text-center text-xl font-thin">
      <ul class="align-items hidden justify-evenly gap-4 md:flex">
        {
          LINKS.map(link => {
            if (link !== 'Source') {
              return (
                <li>
                  <NavLink to="#">{link}</NavLink>
                </li>
              );
            } else {
              return (
                <li>
                  <NavLink to={SITE_SOURCE_URL} target="_blank">
                    <div class="flex items-center gap-1">
                      <IoLogoOctocat class=" text-slate-800 transition-colors ease-in group-hover:text-purple-500" />
                      {link}
                    </div>
                  </NavLink>
                </li>
              );
            }
          })
        }
      </ul>
    </div>
  </div>

  <div class="nav-config hidden items-center justify-evenly gap-6 md:flex">
    <ThemeToggler client:load />
    <LangSelector />
  </div>

  {/* menu button */}
  <div class="flex items-center justify-between gap-10 text-right md:hidden">
    <ThemeToggler client:load />
    <MenuIcon />
  </div>
</nav>
