---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;
---

<div
  class="group cursor-pointer transition-colors ease-in hover:text-purple-500"
>
  <a href={href} {...props}>
    <slot />
  </a>
</div>
